<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title> Administradores </title>
        <link rel="stylesheet" type="text/css" href="StyleSheet/Sheet_Estilo.css" />
    </h:head>
    <h:body class="fondo_imagen_administrador_t" >
        
        <div class="titulo_admin_reg" align="center" >
            ¡¡ ADMINISTRADORES REGISTRADOS !!
        </div>
        
        <center> <p:separator />
        <h:form>
            <p:commandButton class="botonAgregaradmin" value="Crear Un Nuevo Administrador" actionListener="#{administradoresControl.limpiarAdministradores()}" oncomplete="PF('dialogoAgregar').show();" update=":formAgregar"/>
            <p:separator />
        </h:form>
        </center>
        
        <center>
        <h:form id="formListado">
            <p:dataTable class="tabla_admin botton_sur2" id="tablaUsuarios" paginator="true" paginatorPosition="bottom" rows="10" var="administradores" value="#{administradoresControl.listaAdministradores}" emptyMessage="No existen administradores">
                 <p:column class="font_size" headerText="ID" style="width: 25px; text-align: center;" > 
                     <h:outputText value="#{administradores.idAdmin}" />
                </p:column>
                <p:column headerText="CEDULA" style="width: 70px; text-align: center;" >
                    <h:outputText value="#{administradores.cedulaAdmin}" />
                </p:column>
                <p:column headerText="NOMBRES" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{administradores.nombres}" />
                </p:column>
                <p:column headerText="APELLIDOS" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{administradores.apellidos}" />
                </p:column>
                <p:column headerText="EDAD" style="width: 40px; text-align: center;" >
                    <h:outputText value="#{administradores.edad}" />
                </p:column>
                <p:column headerText="TELEFONO" style="width: 80px; text-align: center;" >
                    <h:outputText value="#{administradores.telefono}" />
                </p:column>
                <p:column headerText="E-MAIL" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{administradores.email}" />
                </p:column>
                <p:column headerText="SEXO" style="width: 35px; text-align: center;" >
                    <h:outputText value="#{administradores.sexo}" />
                </p:column>
                <p:column headerText="CONTRASEÑA" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{administradores.contrasena}" />
                </p:column>
                <p:column headerText="ACEPTA" style="width: 60px; text-align: center;" >
                    <h:outputText value="#{administradores.aceptaCondiciones}" />
                </p:column>

                <p:column headerText="MODIFICAR" style="width: 75px; text-align: center;" >
                    <p:commandButton icon="ui-icon-pencil" title="Modificar" oncomplete="PF('dialogoModificar').show();" update=":formModificar">
                        <f:setPropertyActionListener target="#{administradoresControl.administradores}" value="#{administradores}"/>
                    </p:commandButton>
                </p:column>
                <p:column headerText="ELIMINAR" style="width: 75px; text-align: center;" >
                    <p:commandButton icon="ui-icon-trash" title="Eliminar" oncomplete="PF('dialogoEliminar').show();" update=":formEliminar">
                        <f:setPropertyActionListener target="#{administradoresControl.administradores}" value="#{administradores}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>
        </center>
            
        <center>
            <a class="button_inicio_3" style="margin-top: 50px;" href="P_Inicio_Administrador.xhtml"> Regresar al Inicio </a>
        </center>
            
        <h:form id="formAgregar">
            <p:dialog class="agregar_articulo_t" id="dlgAgregar" header="AGREGAR ADMINISTRADOR" widgetVar="dialogoAgregar" resizable="false" showEffect="fade" hideEffect="explode" modal="true">
                <p:panelGrid columns="2" style="margin: 0 auto;">                                
                    <p:outputLabel class="font_size_ag" value="Id"/>
                    <p:inputText value="#{administradoresControl.administradores.idAdmin}"/>
                    <p:outputLabel class="font_size_ag" value="Cedula"/>
                    <p:inputText value="#{administradoresControl.administradores.cedulaAdmin}"/>
                    <p:outputLabel class="font_size_ag" value="Nombres"/>
                    <p:inputText value="#{administradoresControl.administradores.nombres}"/>
                    <p:outputLabel class="font_size_ag" value="Apellidos"/>
                    <p:inputText value="#{administradoresControl.administradores.apellidos}"/>
                    <p:outputLabel class="font_size_ag" value="Edad"/>
                    <p:inputText value="#{administradoresControl.administradores.edad}"/>
                    <p:outputLabel class="font_size_ag" value="Telefono"/>
                    <p:inputText value="#{administradoresControl.administradores.telefono}"/>
                    <p:outputLabel class="font_size_ag" value="E-mail"/>
                    <p:inputText value="#{administradoresControl.administradores.email}"/>
                    <p:outputLabel class="font_size_ag" value="Sexo"/>
                    <p:inputText value="#{administradoresControl.administradores.sexo}"/>
                    <p:outputLabel class="font_size_ag" value="Contraseña"/>
                    <p:inputText value="#{administradoresControl.administradores.contrasena}"/>
                    <p:outputLabel class="font_size_ag" value="Acepta Condiciones"/>
                    <p:inputText value="#{administradoresControl.administradores.aceptaCondiciones}"/>
                </p:panelGrid><br></br>
                <center style="margin-bottom: 2px; margin-top: -10px; " >
                <p:commandButton  value="Guardar" actionListener="#{administradoresControl.agregarAdministradores()}" update=":formListado:tablaUsuarios" oncomplete="PF('dialogoAgregar').hide();"/> &nbsp;
                <p:commandButton  value="Cancelar" onclick="PF('dialogoAgregar').hide();"/>
                </center>
            </p:dialog>
        </h:form>

        <h:form id="formModificar">
            <p:dialog class="agregar_articulo_t" id="dlgModificar" header="MODIFICAR ADMINISTRADOR" widgetVar="dialogoModificar" resizable="false" showEffect="fade" hideEffect="explode" modal="true">
                <p:panelGrid columns="2" style="margin: 0 auto;">                                
                    <p:outputLabel class="font_size_ag" value="Id"/>
                    <p:inputText value="#{administradoresControl.administradores.idAdmin}"/>
                    <p:outputLabel class="font_size_ag" value="Cedula"/>
                    <p:inputText value="#{administradoresControl.administradores.cedulaAdmin}"/>
                    <p:outputLabel class="font_size_ag" value="Nombres"/>
                    <p:inputText value="#{administradoresControl.administradores.nombres}"/>
                    <p:outputLabel class="font_size_ag" value="Apellidos"/>
                    <p:inputText value="#{administradoresControl.administradores.apellidos}"/>
                    <p:outputLabel class="font_size_ag" value="Edad"/>
                    <p:inputText value="#{administradoresControl.administradores.edad}"/>
                    <p:outputLabel class="font_size_ag" value="Telefono"/>
                    <p:inputText value="#{administradoresControl.administradores.telefono}"/>
                    <p:outputLabel class="font_size_ag" value="E-mail"/>
                    <p:inputText value="#{administradoresControl.administradores.email}"/>
                    <p:outputLabel class="font_size_ag" value="Sexo"/>
                    <p:inputText value="#{administradoresControl.administradores.sexo}"/>
                    <p:outputLabel class="font_size_ag" value="Contraseña"/>
                    <p:inputText value="#{administradoresControl.administradores.contrasena}"/>
                    <p:outputLabel class="font_size_ag" value="Acepta Condiciones"/>
                    <p:inputText value="#{administradoresControl.administradores.aceptaCondiciones}"/>
                </p:panelGrid><br></br>
                <center style="margin-bottom: 2px; margin-top: -10px; " >
                <p:commandButton  value="Guardar" actionListener="#{administradoresControl.modificarAdministradores()}" update=":formListado:tablaUsuarios" oncomplete="PF('dialogoModificar').hide();"/> &nbsp;
                <p:commandButton  value="Cancelar" onclick="PF('dialogoModificar').hide();"/>
                </center>
            </p:dialog>
        </h:form>

        <h:form id="formEliminar">
            <p:dialog id="dlgEliminar" header="ELIMINAR ADMINISTRADOR" widgetVar="dialogoEliminar" resizable="false" showEffect="fade" hideEffect="explode" modal="true">
                <h:outputText value="Desea eliminar este registro?"/><br></br><br></br>
                <center style="margin-bottom: 2px; margin-top: -10px; " >
                    <p:commandButton  value="Si" actionListener="#{administradoresControl.eliminarAdministradores()}" update=":formListado:tablaUsuarios" oncomplete="PF('dialogoEliminar').hide();"/> &nbsp;
                <p:commandButton  value="No" onclick="PF('dialogoEliminar').hide();"/>
                </center>
            </p:dialog>
        </h:form>
        
    </h:body>
</html>

