<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css" href="StyleSheet/Sheet_Estilo.css" />
    </h:head>
    <h:body class="muestra_tabla_articulos" >
        
        <!--
        <center >
            <h1> ¡¡ Hola Bienvenido !! </h1>
            <h:outputText value='{usuariosControl.usuarios.email}' />
            <br></br>
            <br></br>
            <h:outputText value='{usuariosControl.usuarios.contrasena}' />
        </center>    -->
            
        <div class="titulo_articulo_publicado" align="center" >
            ARTICULOS DE TECNOLOGÍA PUBLICADOS
        </div>
        <p:separator />
        
        <center>
        <h:form id="formListado">
            <p:dataTable class="tabla_arti_muestra" id="tablaUsuarios" paginator="true" paginatorPosition="bottom" rows="10" var="articulos" value="#{articulosControl.listaArticulos}" emptyMessage="No existen articulos">
                
                <p:column headerText="NOMBRE" style="width: 55px; text-align: center;" >
                    <h:outputText value="#{articulos.nombre}" />
                </p:column>
                <p:column headerText="DESCRIPCION" style="width: 190px; text-align: center;" >
                    <h:outputText value="#{articulos.descripcion}" />
                </p:column>
                <p:column headerText="FECHA PUBLICACION" style="width: 70px; text-align: center;" >
                    <h:outputText value="#{articulos.fechaPublicacion}" />
                </p:column>
                <p:column headerText="URL" style="width: 75px; text-align: center;" >
                    <h:outputText value="#{articulos.url}" />
                </p:column>
                
                <p:column headerText="◄  IR" style="width: 32px; text-align: center;" >
                    <p:commandButton icon="ui-icon-pencil" title="Modificar" >
                        <f:setPropertyActionListener target="#{articulosControl.articulos}" value="#{articulos}"/>
                    </p:commandButton>
                </p:column>
                
            </p:dataTable>
        </h:form>
        </center>
        
        <center >
            <a type="submit" href="P_Inicio_Techno_New.xhtml" class="boton_regresar_at" >Regresar al Inicio</a>
        </center>
        
    </h:body>
</html>

