<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <link  rel="stylesheet" href="StyleSheet/Inicio_Techno_News.css"/>
         <script src="https://kit.fontawesome.com/b32958862f.js" crossorigin="anonymous"></script>
    </h:head>
  <body>
    <section class="pagina_principal">  
        <nav> 
            <i class="fas fa-book"></i>
            <center class="logo">TECHNO NEWS</center>
                <ul>
                    <li><a class="active" href="P_Login_User.xhtml">LOGIN &raquo;</a></li>
                    <li><a href="Registro_User_Admin.xhtml">REGISTRARSE &raquo;</a></li>
                    <li><a href="P_Login_Admin.xhtml">ADMINISTRADOR &raquo;</a></li>
                    <li><a href="https://es-la.facebook.com/CienciayTecnologia/">Facebook &raquo;</a></li>
                    <li><a href="https://datta.com.ec/articulo/la-valentia-impulsa-el-e-commerce-ecuatoriano">WEB SITE &raquo;</a></li>
                    <li><a href="https://servicioenlinea.ug.edu.ec/SIUG/Account/Login.aspx">SIUG &raquo;</a></li>
                </ul>
        </nav>
        
        <div class="fondo"> 
            <div class="slider">
                <ul>
                    <li ><img id="im1" src="Imagenes_PP/1.jpg" alt="" ></img></li>
                    <li ><img id="im2" src="Imagenes_PP/2.jpg" alt="" ></img></li>
                    <li ><img id="im3" src="Imagenes_PP/3.jpg" alt="" ></img></li>
                    <li ><img id="im4" src="Imagenes_PP/4.jpg" alt="" ></img></li>
                </ul>
            </div>
        </div>
    </section>
  </body>
</html>