<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>    
        <title>Facelet Title</title>
        <link  rel="stylesheet" href="StyleSheet/Inicio_Admin.css"/>
         <script src="https://kit.fontawesome.com/b32958862f.js" crossorigin="anonymous"></script>
    </h:head>
    <body class="ini_admi">
        <div class="Pagina" > 
            <div class="norte_admin"><b> Bienvenidos Administrador [Admin] </b></div>
            
            <div class="left" >
                <ul >
                    <li><a class="acci active" href="Articulos T.xhtml">AGREGAR ARTICULOS</a></li>
                    <li><a class="acci" href="Muestra_Tabla_Articulos.xhtml">ARTICULOS PUBLICADOS</a></li>
                    <li><a class="acci" href="Usuario T.xhtml">USUARIOS REGISTRADOS</a></li>
                    <li><a class="acci" href="Administrador T.xhtml">ADMINISTRADORES REGISTRADOS</a></li>
                </ul>
            </div>
            
            
        <center>
            <a class="button_inicio_1" style="margin-top: 50px;" href="P_Inicio_Techno_New.xhtml"> Regresar al Inicio </a>
        </center>
            
        </div>
    </body>
</html>