<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title> Registro de Usuario </title>
        <link href="StyleSheet/Registro_Usuario.css" rel="stylesheet" type="text/css"/>        
    </h:head>
    <h:body >
        <form class="formulario_registro_user" >
            
            <div class="contenedor" >
            <center class="cabezera_re" >
               Registrarse Usuario
            </center>
            
            <div class="input-contenedor">
                <i style="margin-left: 3%" class="fas fa-user"></i>
                <input type="text" placeholder="Id"></input>
            </div>    
                
            <div class="input-contenedor">
                <i style="margin-left: 3%" class="fas fa-user"></i>
                <input type="text" placeholder="Numero de cedula"></input>
            </div>
                
            <div class="input-contenedor">
                <i style="margin-left: 3%" class="fas fa-user"></i>
                <input type="text" placeholder="Nombres"></input>
            </div>
                
            <div class="input-contenedor">
                <i style="margin-left: 3%" class="fas fa-user"></i>
                <input type="text" placeholder="Apellidos"></input>
            </div>
                
            <div class="input-contenedor">
                <i style="margin-left: 3%" class="fas fa-user"></i>
                <input type="text" placeholder="Edad"></input>
            </div>
                
            <div class="input-contenedor">
                <i style="margin-left: 3%" class="fas fa-user"></i>
                <input type="text" placeholder="Telefono"></input>
            </div>
             
            <div class="input-contenedor">
                <i style="margin-left: 3%" class="fas fa-envelope"></i>
                <input type="text" placeholder="Corrreo Electronico"></input>
            </div> 
                
            <div class="input-contenedor">
                <i style="margin-left: 3%" class="fas fa-user"></i>
                <input type="text" placeholder="Sexo"></input>
            </div>
                
            <div class="input-contenedor">
                <i style="margin-left: 3%" class="fas fa-key"></i>
                <input type="text" placeholder="Contrasena"></input>
            </div> 
         
            <input type="submit" value="REGISTRARSE" class="button_re"></input>
            <br></br><br></br>
                
            <center>
                <h:selectManyCheckbox id="aceptarcondiciones" value="" required="true" label="Elija una opción" >
                    <f:selectItem itemLabel="Acepto" itemValue="Acepto" />
                    <f:selectItem itemLabel="No Acepto" itemValue="No Acepto"  />              
                </h:selectManyCheckbox> 
                    <center class="condiciones" >
                        Al registrarte, aceptas nuestras Condiciones, la Política de datos
                        y Politica de privacidad
                        
                        <p> ------------------------- O ------------------------- </p> 
                        
                        ¿Ya tienes Cuenta?<a class="link" href="Login.xhtml"> Iniciar Sesion </a>
                        
                    </center>
            </center>
            </div>   
                
        </form>     
    </h:body>
</html>

