<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title> Registros </title>
        <link rel="stylesheet" type="text/css" href="StyleSheet/Sheet_Estilo.css" />
    </h:head>
    <h:body class="fondo_imagen_usuario_registro_user" >
        
        <center style="font-family: Imprint MT Shadow; color: crimson; " > <p:separator />
            <h1> ¡¡ REGISTRATE AHORA !! </h1>
        </center> 
        
        <center> <p:separator />
        <h:form>
            <p:commandButton class="botonAgregaruser" value="Registrarme como Usuario" actionListener="#{usuariosControl.limpiarUsuarios()}" oncomplete="PF('dialogoAgregarUsuario').show();" update=":formAgregarUsuario"/> <br></br><br></br>
            <p:commandButton class="botonAgregaruser" value="Registrarme como Administrador" actionListener="#{administradoresControl.limpiarAdministradores()}" oncomplete="PF('dialogoAgregarAdmin').show();" update=":formAgregarAdmin"/>
            <p:separator style="margin-bottom: 30px;" />
        </h:form>
        </center>
        
        <!--
        <a class="button_registro_user" href="P_Login_User.xhtml">
            <button style="padding: 7px; background:yellow; margin-top: 20px; " > INICIAR SESION </button>
        </a> -->
        
        <center>
            <a class="button_registro_user_2" style="margin-top: 50px;" href="P_Inicio_Techno_New.xhtml"> Regresar al Inicio </a>
        </center>
        
        <!-- REGISTRARME COMO USUARIO -->
        <!-- TABLA DE REGISTRO DE USUARIOS -->
        <center>
            <h:form id="formListadoUsuario" style="visibility: collapse;" >
            <p:dataTable class="tabla_user" id="tablaUsuarios" paginator="true" paginatorPosition="bottom" rows="10" var="usuarios" value="#{usuariosControl.listaUsuarios}" emptyMessage="No existen usuarios">
                <p:column headerText="ID" style="width: 25px; text-align: center;" > 
                    <h:outputText value="#{usuarios.idUsuario}" />
                </p:column>
                <p:column headerText="CEDULA" style="width: 70px; text-align: center;" >
                    <h:outputText value="#{usuarios.cedulaUser}" />
                </p:column>
                <p:column headerText="NOMBRES" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{usuarios.nombres}" />
                </p:column>
                <p:column headerText="APELLIDOS" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{usuarios.apellidos}" />
                </p:column>
                <p:column headerText="EDAD" style="width: 40px; text-align: center;" >
                    <h:outputText value="#{usuarios.edad}" />
                </p:column>
                <p:column headerText="TELEFONO" style="width: 80px; text-align: center;" >
                    <h:outputText value="#{usuarios.telefono}" />
                </p:column>
                <p:column headerText="E-MAIL" style="width: 100px; text-align: center;" >
                    <h:outputText value="#{usuarios.email}" />
                </p:column>
                <p:column headerText="SEXO" style="width: 35px; text-align: center;" >
                    <h:outputText value="#{usuarios.sexo}" />
                </p:column>
                <p:column headerText="CONTRASEÑA" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{usuarios.contrasena}" />
                </p:column>
                <p:column headerText="ACEPTA" style="width: 70px; text-align: center;" >
                    <h:outputText value="#{usuarios.aceptaCondiciones}" />
                </p:column>
            </p:dataTable>
        </h:form>
        </center>
            
        <h:form id="formAgregarUsuario">
            <p:dialog class="agregar_articulo_t" id="dlgAgregarUsuario" header="REGISTRARME COMO USUARIO " widgetVar="dialogoAgregarUsuario" resizable="false" showEffect="fade" hideEffect="explode" modal="true">
                <p:panelGrid columns="2" style="margin: 0 auto;">                                
                    <p:outputLabel class="font_size_ag" value="Id"/>
                    <p:inputText value="#{usuariosControl.usuarios.idUsuario}"
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Cedula"/>
                    <p:inputText value="#{usuariosControl.usuarios.cedulaUser}"
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Nombres"/>
                    <p:inputText value="#{usuariosControl.usuarios.nombres}"
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Apellidos"/>
                    <p:inputText value="#{usuariosControl.usuarios.apellidos}"
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Edad"/>
                    <p:inputText value="#{usuariosControl.usuarios.edad}"
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Telefono"/>
                    <p:inputText value="#{usuariosControl.usuarios.telefono}"
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="E-mail"/>
                    <p:inputText value="#{usuariosControl.usuarios.email}"
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Sexo"/>
                    <p:inputText value="#{usuariosControl.usuarios.sexo}"
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Contraseña"/>
                    <p:inputText value="#{usuariosControl.usuarios.contrasena}"
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Acepta Condiciones"/>
                    <p:inputText value="#{usuariosControl.usuarios.aceptaCondiciones}"
                        class="txt" style="font-family: Imprint MT Shadow;" />
                </p:panelGrid><br></br>
                <center style="margin-bottom: 2px; margin-top: -10px; " > 
                <p:commandButton class="font_size_ag"  value="Guardar" actionListener="#{usuariosControl.agregarUsuarios()}" update=":formListadoUsuario:tablaUsuarios" oncomplete="PF('dialogoAgregarUsuario').hide();"/> &nbsp;
                <p:commandButton class="font_size_ag"  value="Cancelar" onclick="PF('dialogoAgregarUsuario').hide();"/>
                </center>
            </p:dialog>
        </h:form>
        
        <!-- REGISTRARME COMO ADMINISTRADOR -->
        <!-- TABLA DE REGISTRO DE UADMINISTRADORES -->
        
        <center>
        <h:form id="formListadoAdmin" style="visibility: collapse;" >
            <p:dataTable class="tabla_admin" id="tablaAdmin" paginator="true" paginatorPosition="bottom" rows="10" var="administradores" value="#{administradoresControl.listaAdministradores}" emptyMessage="No existen administradores">
                 <p:column class="font_size" headerText="ID" style="width: 25px; text-align: center;" > 
                     <h:outputText value="#{administradores.idAdmin}" />
                </p:column>
                <p:column headerText="CEDULA" style="width: 70px; text-align: center;" >
                    <h:outputText value="#{administradores.cedulaAdmin}" />
                </p:column>
                <p:column headerText="NOMBRES" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{administradores.nombres}" />
                </p:column>
                <p:column headerText="APELLIDOS" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{administradores.apellidos}" />
                </p:column>
                <p:column headerText="EDAD" style="width: 40px; text-align: center;" >
                    <h:outputText value="#{administradores.edad}" />
                </p:column>
                <p:column headerText="TELEFONO" style="width: 80px; text-align: center;" >
                    <h:outputText value="#{administradores.telefono}" />
                </p:column>
                <p:column headerText="E-MAIL" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{administradores.email}" />
                </p:column>
                <p:column headerText="SEXO" style="width: 35px; text-align: center;" >
                    <h:outputText value="#{administradores.sexo}" />
                </p:column>
                <p:column headerText="CONTRASEÑA" style="width: 110px; text-align: center;" >
                    <h:outputText value="#{administradores.contrasena}" />
                </p:column>
                <p:column headerText="ACEPTA" style="width: 60px; text-align: center;" >
                    <h:outputText value="#{administradores.aceptaCondiciones}" />
                </p:column>
            </p:dataTable>
        </h:form>
        </center>
            
        <h:form id="formAgregarAdmin">
            <p:dialog class="agregar_articulo_t" id="dlgAgregar" header="REGISTRARME COMO ADMINISTRADOR" widgetVar="dialogoAgregarAdmin" resizable="false" showEffect="fade" hideEffect="explode" modal="true">
                <p:panelGrid columns="2" style="margin: 0 auto;">                                
                    <p:outputLabel class="font_size_ag" value="Id"/>
                    <p:inputText value="#{administradoresControl.administradores.idAdmin}" 
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Cedula"/>
                    <p:inputText value="#{administradoresControl.administradores.cedulaAdmin}"
                        class="txt" style="font-family: Imprint MT Shadow;" /> 
                    <p:outputLabel class="font_size_ag" value="Nombres"/>
                    <p:inputText value="#{administradoresControl.administradores.nombres}" 
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Apellidos"/>
                    <p:inputText value="#{administradoresControl.administradores.apellidos}" 
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Edad"/>
                    <p:inputText value="#{administradoresControl.administradores.edad}" 
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Telefono"/>
                    <p:inputText value="#{administradoresControl.administradores.telefono}" 
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="E-mail"/>
                    <p:inputText value="#{administradoresControl.administradores.email}" 
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Sexo"/>
                    <p:inputText value="#{administradoresControl.administradores.sexo}" 
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Contraseña"/>
                    <p:inputText value="#{administradoresControl.administradores.contrasena}" 
                        class="txt" style="font-family: Imprint MT Shadow;" />
                    <p:outputLabel class="font_size_ag" value="Acepta Condiciones"/>
                    <p:inputText value="#{administradoresControl.administradores.aceptaCondiciones}" 
                        class="txt" style="font-family: Imprint MT Shadow;" />
                </p:panelGrid>
                <center style="margin-bottom: 2px; margin-top: 10px; " >
                <p:commandButton class="font_size_ag"  value="Guardar" actionListener="#{administradoresControl.agregarAdministradores()}" update=":formListadoAdmin:tablaAdmin" oncomplete="PF('dialogoAgregarAdmin').hide();"/> &nbsp; 
                <p:commandButton class="font_size_ag"  value="Cancelar" onclick="PF('dialogoAgregarAdmin').hide();"/>
                </center>
            </p:dialog>
        </h:form>
        
    </h:body>
</html>

