
/* 
    Created on : 05/10/2020, 21:40:55
    Author     : DARIO MACIAS MADRID
*/

body{
    font-family: Arial,Helvetica, sans-serif;
    margin: 0;
    background: url(../Imagenes_PP/Registrarse.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.form_login_admin {
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    height: 190px;
    padding: 15px;
    width: 410px;
}

.txt_4 {
    font-family: Palatino Linotype;
    color: #333;
    font-size: 22px;
    padding: 4px;
    border: none;
    width: 100%;
}

.buton_login_admin {
    font-family: Imprint MT Shadow;
    font-size: 20px;
    background: turquoise; 
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.buton_login_admin:hover {  
    background: white;
    color: black;
    transition: 2s;
}

*{
    box-sizing: border-box;
}
.contenedor{
   width: 400px;
   padding: 15px; 
   margin-bottom: 0px;
}
.formulario{
    background: white;
    padding: 3px;
    margin: auto;
    width: 410px;
    margin-bottom: -70px;
    border-radius: 10px;
}

.cabeza {
    font-family: Palatino Linotype; 
    font-size: 40px;
    margin-top: 10px; 
    margin-bottom: 20px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"]{
    font-family: Imprint MT Shadow;
    font-size: 20px;
    width: 335px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.input-contenedor{
    margin-top: 0px;
    margin-bottom: 7px;
    border: 1px solid #aaa;
    border-radius: 5px; 
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button_PLogin {
    background: #9999ff;
    font-family: serif;
    font-size: 20px;
    color: black;
    padding: 13px;
    width: 500px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
.button_PLogin:hover{
    background: springgreen;
}

p{
    text-align: center;
}
.link {
    text-decoration: none;
    color: midnightblue;
    font-weight: 600;
    font-size: 18px;
}
.link:hover{
    color: cadetblue;
}

.registrate {
    font-family: Imprint MT Shadow;
    font-size: 18px;
}

.formulario_base {
    background: white;
    margin-top: 150px;
    padding: 3px;
    margin: auto;
    width: 410px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.sur {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo_login_us {
    font-family: Palatino Linotype;
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.boton_iniciar_sesion {
    margin-top: 30px;
    margin-bottom: 25px;
    align-content: center;
    font-weight: bold;
    border-radius: 10px;
}



