
/* 
    Created on : 04/10/2020, 17:05:24
    Author     : DARIO MACIAS MADRID
*/

/* USUARIO T */

.fondo_imagen_usuario_t {
    background: url(../Imagenes/fondo_tecnologia7.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center; 
}

.botonAgregaruser {
    font-family: Palatino Linotype;
    font-size: 23px;
    background: aqua; 
    color: black;
    border-radius: 10px;
    padding: 5px;
}
.botonAgregaruser:hover { 
    background: teal;
    color: white;
}

.tabla_user {
    align-content: center;
    width: 1225px;
    height: auto;
    font-size: 15px;
}

.button_inicio_2 {
    font-family: Palatino Linotype;
    font-size: 24px;
    background: url(../Imagenes/fondo_tecnologia8.jpg) no-repeat center center fixed;
    color: white;
    padding: 18px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}
.button_inicio_2:hover {
    background: url(../Imagenes/fondo_tecnologia8.jpg) no-repeat center center fixed;
    color: #00ffff;
    transition-duration: 2s;
}

.botton_sur {
    margin-bottom: 50px;
}

/* ADMINISTRADOR T */

.fondo_imagen_administrador_t {
    background: url(../Imagenes/fondo_tecnologia6.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center; 
}

.titulo_admin_reg {
    font-family: Palatino Linotype;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.botonAgregaradmin {
    font-family: Imprint MT Shadow;
    font-size: 28px;
    background: yellowgreen; 
    color: black;
    border-radius: 10px;
    padding: 5px;
}
.botonAgregaradmin:hover { 
    background: cornflowerblue;
    color: black;
}

.tabla_admin {
    align-content: center;
    width: 1225px;
    height: auto;
    font-size: 15px;
}

.button_inicio_3 {
    font-family: Palatino Linotype;
    font-size: 24px;
    background: white;
    color: teal;
    padding: 18px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}
.button_inicio_3:hover {
    background: url(../Imagenes/fondo_tecnologia10.jpg) no-repeat center center fixed;
    color: black;
    transition-duration: 1s;
}

.botton_sur2 {
    margin-bottom: 50px;
}

/* ARTICULO T */

.fondo_imagen_articulo_t {
    background: url(../Imagenes/fondo_tecnologia9.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center; 
}

.botonAgregararti {
    font-family: Imprint MT Shadow;
    font-size: 28px;
    background: springgreen; 
    color: black;
    border-radius: 10px;
    padding: 5px;
}
.botonAgregararti:hover {  
    background: white;
    color: black;
}

.tabla_arti {
    align-content: center;
    width: 1250px;
    height: auto;
    font-size: 15px;
    white-space: pre-wrap;
    word-break: break-all;
    margin-bottom: 30px;
}

.agregar_articulo_t {
    font-family: Imprint MT Shadow;
    border-radius: 10px;
    background: whitesmoke;
    color: red;
    text-align: center;
}

.boton_regresar_at { 
    font-family: Imprint MT Shadow;
    font-size: 28px;
    color: black;
    padding: 15px;
    width: auto;
    height: auto;
    background: violet;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}
.boton_regresar_at:hover {
    background: white;
    color: blue;
}

/* MUESTRA TABLA ARTICULOS */

.titulo_articulo_publicado {
    font-family: Palatino Linotype;
    color: cornsilk;
    font-size: 50px;
    font-weight: bold;
}

.tabla_arti_muestra {
    align-content: center;
    width: 1250px;
    height: auto;
    font-size: 15px;
    white-space: pre-wrap;
    word-break: break-all;
    margin-bottom: 30px;
}

.font_size_ag {
    font-family: Imprint MT Shadow;
    font-size: 16px;
    text-align: center;
}

.muestra_tabla_articulos {
    background: url(../Imagenes/fondo_tecnologia13.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

/* REGISTRO_USER */

.fondo_imagen_usuario_registro_user {
    background: url(../Imagenes/fondo_tecnologia.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center; 
}

.txt {
    font-family: Imprint MT Shadow;
    width: 195px;
}

/* REGISTRO_USER_ADMIN */

.button_registro_user_2 {
    font-family: Palatino Linotype;
    font-size: 24px;
    background: azure;
    color: black;
    padding: 18px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}
.button_registro_user_2:hover {
    background: black;
    color: azure;
}

.button_registro_user_2 {
    font-family: Palatino Linotype;
    font-size: 24px;
    background: azure;
    color: black;
    padding: 18px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}
.button_registro_user_2:hover {
    background: black;
    color: azure;
}


